body{
    width: 85vw;
    margin: auto;
}
h1{
    text-align: center;
}

input[type=tel] {
    width: 45px;
    padding: 8px 6px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    font-size: medium;
    font-weight: bold;
  }




button{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:0.5em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:900;
    color:#FFFFFF;
    background-color: rgb(5, 5, 97);
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    }
   
button.borough{
    padding: 15px 30px;
    /* margin-left: 15px; */
    width: 100%;
    
    }

button#results-button{
    padding: 15px 30px;
    width: 60%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(88, 88, 88);
    color:black;
}

button:hover{
    border-color: rgba(255,255,255,1);
    }

button#results-button:hover{
        border-color: rgb(172, 23, 23);
        }
    

li.nav-button{
    list-style-type: none;
    display: block;
    flex-grow:1;
 }

.selected-button{
    background-color:green;   
}

.time-div{
    text-align: center;
}

.borough-div{
    text-align: center;
}

#borough-nav{
    width:100%;
    display:flex; 
    flex-direction:row;
    margin-left: -40px;
}

#search-bar-panel{
    width:100%;
    display:flex; 
    flex-direction:row;
    gap: 20px;
    align-items:center;
    justify-content: center;
}

#results-panel{
    width: 50vw;
    margin: auto;
    display: grid;
    grid-template-columns: 50px repeat(4, 1fr);
    /* grid-auto-rows: 50px; */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-bottom: 100px;
  
}
#results-panel>div{
    /* margin: auto; */
    padding-top: 50px;
    /* text-align: justify; */
    align-items:center;
    justify-content: center;
}

#results-panel>div>button{
    float: right;
    align-items:right;
    justify-content: center;
}

.long{
    grid-column:  span 5;
    text-align: justify;
    padding-top: 10px !important;
}

.hidden{
    display: none;
}


@media all and (max-width:30em){
    button{
        display:block;
        margin:0.2em auto;
        }
    }
